*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: rgb(47, 121, 206);
    width: 100%;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}
.logoImg{
    width: 13%;
    padding: 5px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 30px;
}
.cantidadCarro{
    background-color: red;
    color: white;
    border-radius: 40%;
    font-size: 10px;
    padding: 4px;
    top: 18px;
    right: 25px;
    position: absolute;
    display: none;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid silver;
    padding-bottom: 20px;
    border-radius:  10%;
}
.tarjeta img{
    width: 280px;
    height: 210px;
    margin-bottom: 10px;
    border-radius:  10%;
}
.tarjeta h3,.tarjeta p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
}
.tarjeta h3{
    font-size: 1.25rem;
}
.tarjeta p{
    font-size: 1rem;
}
.tarjeta button{
    margin: 0px 70px;
    padding: 5px 10px;
    background-color: rgba(47, 121, 206, 0.5);
    border-radius: 10px;
    border: 1px 1px solid beige
}
.contenidoTienda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fondo{
    background-image: url(../assets/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: absolute;
}
h1, .parrafos{
    text-align: center;
}
h1{
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
}
.parrafos{
    margin: 0px 20px;
    padding: 30px 25px;
    background-color: rgba(47, 121, 206, 0.5);
}
.parrafos h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding-bottom: 15px;
    color: white;

}
.parrafos p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: white;
}

.carrito{
    position: relative;
    z-index: 1;
    background-color: rgba(47, 121, 206, 0.9);
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    top: 100px;
}
.carritoContenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 15px;
    align-items: center;
}
.carritoContenido img{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}
.headerCarrito{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: darkgray;
}
.tienda{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    margin-top: 50px;
}
.totalCompra{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    background-color: darkgray;
}
.tarjeta button, .restar, .sumar, .verCarrito, .cantidadCarro, .eliminarProducto, .cierreCarrito{
    cursor: pointer;
}
